<div class="container-xl">
    <div class="container text-center">
        <div class="row">

            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'main:detail' product.slug %}" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


