<div class="container-xl">
    <div class="dropdown" align="right">
        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Напитки</a></li>
            <li><a class="dropdown-item" href="#">Телефоны</a></li>
            <li><a class="dropdown-item" href="#">Ноутбуки</a></li>
        </ul>
        <br><br>
    </div>
</div>